/* CSS Document */
/*Alles in em ipv px*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*Algemene styling*/

@font-face {
    font-family: 'Calafornia';
    src: url(../fonts/california.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Thin.ttf);
}

main {
    font-family: 'roboto', sans-serif;
    color: black;
    text-align: center;
    margin: 0rem;
    display: block;
}

footer {
    font-family: 'roboto', sans-serif;
    background-color: #f5c242;
    margin-top: 2rem;
}

h1 {
    display: none;
}

h1,
h2 {
    font-family: 'Calafornia', sans-serif;
    color: black;
    margin-bottom: 0;
}


/*Navigatie styling*/

nav {
    background-color: white;
    color: black;
    list-style: none;
    font-family: 'Calafornia', sans-serif;
    text-transform: uppercase;
    font-size: 1.7em;
    top: 0;
    width: 100%;
    position: fixed;
    float: right;
    z-index: 1;
}

nav ul {
    margin-left: 25rem;

}

nav ul li {
    display: inline-block;
    padding-right: 0.625rem;
}


nav ul li a {
    text-decoration: none;
    color: black;

}

/*class styling*/

/*Algemeen*/

.ondertitel {
    font-family: 'Calafornia', sans-serif;
    font-size: 2.4rem;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #FFFFFF;
    background-color: #000000;
}

/*footer*/
.footer-tekst {
    text-align: left;
    justify-content: center;
}

/*id styling*/

/*Navigatie*/
#bestelonline {
    background-color: yellow;
    padding-top: 0.438rem;

}

#logo {
    padding-top: 0rem;
    margin-left: 15.625rem;
    width: 10%;
    z-index: 1;
    position: fixed;

}

#snack {
    height: 100%;
    width: 100%;
    max-height: 31.25rem;
    object-fit: cover;
}

/*Eerste sectie*/

#lekkerbezig {
    font-size: 5em;
    background-color: white;
    margin-top: -9rem;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    width: 30%;
    overflow: auto;
}

#streep {
    position: absolute;
    background-color: black;
    width: 50rem;
    height: 0.2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    min-width: 10rem;
    max-width: 50rem;
    margin-top: 5.5rem;
}

#section-lekkerbezig {
    position: relative;
    margin: 0em 20em 0em 20em;
    min-width: 10em;
    max-width: 50em;
    align-content: center;
}

#lekkerbezig-content {
    margin-top: 2rem;
}

/*Tweede sectie*/

#stach-app {
    justify-content: center;
    display: block;
    position: relative;
    margin-top: 2rem;

}

#content-app {
    display: inline-block;
    position: absolute;
    overflow: auto;
    margin-top: 10rem;
    background-color: white;
    width: 30%;
    /*    top: 50%;*/
    left: 35%;
}

#app-streep {
    position: absolute;
    background-color: black;
    overflow: auto;
    width: 5rem;
    height: 0.1rem;
    margin-top: 15.5rem;
    left: 47%;
}

/*Derde sectie*/

#sectie-roze {
    margin-top: 2rem;
    width: 100%;
    height: 40rem;
    background-color: lightpink;
}

#locaties-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*    grid-gap: 10px;*/
    margin-top: -40rem;

}

#locaties-foto {
    width: 60%;
    align-self: stretch;
    left: 35%;
}

#content-locaties {
    background-color: white;
    text-align: center;
    width: 60%;
    align-self: stretch;

}

/*vierde sectie*/

#werken-section {
    display: block;
    margin-top: 15rem;
}

#content-werken {
    display: inline-block;
    position: absolute;
    overflow: auto;
    margin-top: 10rem;
    background-color: white;
    width: 20%;
    height: 15%;
    left: 40%;
}

/*Footer*/

#logo-footer {
    width: 10%;
}

#nieuwsbrief {}

#footer-icons img {
    /*
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
*/
    width: 5%;

}
