/* CSS Document */
/*Alles in em ipv px*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*Algemene styling*/

@font-face {
    font-family: 'Calafornia';
    src: url(../fonts/california.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Thin.ttf);
}

main {
    font-family: 'roboto', sans-serif;
    color: black;
    text-align: center;
    margin: 0rem;
}

h1 {
    display: none;
}

h1,
h2 {
    font-family: 'Calafornia', sans-serif;
    color: black;
}

/*Navigatie styling*/

nav {
    background-color: white;
    color: black;
    list-style: none;
    font-family: 'Calafornia', sans-serif;
    text-transform: uppercase;
    font-size: 1.7em;
    top: 0;
    width: 100%;
    position: fixed;
    float: right;
}

nav ul {
    margin-left: 25rem;

}

nav ul li {
    display: inline-block;
    padding-right: 0.625rem;

}


nav ul li a {
    text-decoration: none;
    color: black;

}

/*Section styling*/

.ondertitel {
    font-family: 'Calafornia', sans-serif;
}

/*detail styling*/
#bestelonline {
    background-color: yellow;
    padding-top: 0.438rem;

}

#logo {
    padding-top: 0rem;
    margin-left: 15.625rem;
    width: 10%;
    z-index: 1;
    position: fixed;

}

#snack {
    height: 100%;
    width: 100%;
    max-height: 31.25rem;
    object-fit: cover;
}

#section-lekkerbezig {
    width:
}

#lekkerbezig {
    font-size: 5em;
    background-color: white;
    margin-top: -7.5rem;
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 30%;
}
